/* ==================== google font ==================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000808;
  color: #fff;
}

/* ==================== header styling ==================== */

#header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav .logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #5271ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 10%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #5271ff;
}
.header-text .download-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 40px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  background: #5271ff;
  transition: transform 0.5s;
}

.header-text .download-btn:hover {
  transform: scale(1.07);
}

/* ==================== about styling ==================== */
#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border: 2px solid #2a2c2f;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.about-description {
  text-align: justify;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #5271ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #5f75cb;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ==================== services styling ==================== */
#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #5271ff;
  transform: translateY(-10px);
}
.service-desc {
  text-align: justify;
}

/* ==================== portfolio styling ==================== */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work-list .work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work-list .work img {
  width: 100%;
  display: block;
  border-radius: 10px;
  transition: transform 0.5s;
}

.work .layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #5271ff);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.work .layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.work .layer a {
  margin-top: 20px;
  color: #5271ff;
  text-decoration: none;
  font-size: 18px;
  line-height: 58px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
}

.work:hover img {
  transform: scale(1.07);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #5271ff;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s, transform 0.5s;
}

.btn:hover {
  background: #5271ff;
  transform: scale(1.05);
}

/* ==================== contact styling ==================== */
.contact-left {
  width: 35%;
}

.contact-right {
  width: 60%;
}

.contact-left .contact-desc1 {
  font-size: 18px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.contact-left .contact-desc2 {
  font-size: 18px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.contact-desc-part1 i {
  margin-right: 12px;
  color: #5271ff;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #5271ff;
  transform: translateY(-5px);
}

.contact-left .download-btn {
  display: inline-block;
  margin-top: 30px;
  width: fit-content;
  padding: 14px 40px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background: #5271ff;
  transition: transform 0.5s;
}

.contact-left .download-btn:hover {
  transform: scale(1.05);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .submit-btn {
  font-size: 18px;
  display: inline-block;
  margin-top: 5px;
  width: fit-content;
  padding: 14px 40px;
  border: 1px solid #1f2332;
  background: #262626;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}

form .submit-btn:hover{
  background: #5271ff;
}

.copyrights {
  width: 100%;
  margin-top: 20px;
  padding: 25px 0;
  font-family: 300;
  text-align: center;
  background-color: #262626;
}

/* ==================== css for small screens==================== */
nav .fa-solid {
  display: none;
}
@media only screen and (max-width: 600px) {
  #header {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/portrait.png");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .header-text {
    margin-top: 25%;
    font-size: 20px;
  }

  .header-text h1 {
    font-size: 32px;
    margin-top: 8px;
  }

  .header-text .download-btn{
    display: inline-block;
    margin-top: 115px;
    padding: 24px 82px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    background: #5271ff;
    transition: transform 0.5s;
  }

  .header-text .download-btn:hover{
    transform: scale(1.07);
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background-color: #5271ff;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1{
    margin-bottom: 30px;
  }

  .about-col-2{
    font-size: 14px;
  }

  .contact-left,.contact-right{
    flex-basis: 100%;
  }

  .contact-left{
    margin-bottom: 20px;
  }
  .copyrights{
    font-size: 14px;
  }
}

#msg{
  color: #61b752;
  margin-top: 5px;
  display: block;
  font-size: 18px;
}